openapi: 3.1.0
info:
  title: OpenAI API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference
    for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://api.openai.com/v1
security:
- ApiKeyAuth: []
paths:
  /responses:
    post:
      operationId: createResponse
      summary: 'Creates a model response. Provide [text](/docs/guides/text) or

        [image](/docs/guides/images) inputs to generate [text](/docs/guides/text)

        or [JSON](/docs/guides/structured-outputs) outputs. Have the model call

        your own [custom code](/docs/guides/function-calling) or use built-in

        [tools](/docs/guides/tools) like [web search](/docs/guides/tools-web-search)

        or [file search](/docs/guides/tools-file-search) to use your own data

        as input for the model''s response.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '429':
          $ref: '#/components/responses/InferenceRateLimited'
        '503':
          $ref: '#/components/responses/InferenceServiceUnavailable'
components:
  schemas:
    CreateModelResponseProperties:
      allOf:
      - $ref: '#/components/schemas/ModelResponseProperties'
      - type: object
        properties:
          top_logprobs:
            description: 'An integer between 0 and 20 specifying the maximum number
              of most likely

              tokens to return at each token position, each with an associated log

              probability. In some cases, the number of returned tokens may be fewer
              than

              requested.

              '
            type: integer
            minimum: 0
            maximum: 20
    CreateResponse:
      allOf:
      - $ref: '#/components/schemas/CreateModelResponseProperties'
      - $ref: '#/components/schemas/ResponseProperties'
      - type: object
        properties:
          reasoning:
            anyOf:
            - $ref: '#/components/schemas/Reasoning'
            - type: 'null'
          input:
            $ref: '#/components/schemas/InputParam'
          instructions:
            anyOf:
            - type: string
              description: 'A system (or developer) message inserted into the model''s
                context.


                When using along with `previous_response_id`, the instructions from
                a previous

                response will not be carried over to the next response. This makes
                it simple

                to swap out system (or developer) messages in new responses.

                '
            - type: 'null'
          stream:
            anyOf:
            - description: 'If set to true, the model response data will be streamed
                to the client

                as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

                See the [Streaming section below](/docs/api-reference/responses-streaming)

                for more information.

                '
              type: boolean
              default: false
            - type: 'null'
          max_output_tokens:
            anyOf:
            - description: 'An upper bound for the number of tokens that can be generated
                for a response, including visible output tokens and [reasoning tokens](/docs/guides/reasoning).

                '
              type: integer
              minimum: 16
            - type: 'null'
    CustomToolCall:
      type: object
      title: Custom tool call
      description: 'A call to a custom tool created by the model.

        '
      properties:
        type:
          type: string
          enum:
          - custom_tool_call
          description: 'The type of the custom tool call. Always `custom_tool_call`.

            '
        id:
          type: string
          description: 'The unique ID of the custom tool call in the OpenAI platform.

            '
        call_id:
          type: string
          description: 'An identifier used to map this custom tool call to a tool
            call output.

            '
        caller:
          anyOf:
          - $ref: '#/components/schemas/ToolCallCaller'
          - type: 'null'
        namespace:
          type: string
          description: 'The namespace of the custom tool being called.

            '
        name:
          type: string
          description: 'The name of the custom tool being called.

            '
        input:
          type: string
          description: 'The input for the custom tool call generated by the model.

            '
        async:
          type: boolean
          description: 'Whether the custom tool call runs asynchronously.

            '
      required:
      - type
      - call_id
      - name
      - input
    CustomToolCallOutput:
      type: object
      title: Custom tool call output
      description: 'The output of a custom tool call from your code, being sent back
        to the model.

        '
      properties:
        type:
          type: string
          enum:
          - custom_tool_call_output
          description: 'The type of the custom tool call output. Always `custom_tool_call_output`.

            '
        id:
          type: string
          description: 'The unique ID of the custom tool call output in the OpenAI
            platform.

            '
        call_id:
          type: string
          description: 'The call ID, used to map this custom tool call output to a
            custom tool call.

            '
        caller:
          anyOf:
          - $ref: '#/components/schemas/ToolCallCallerParam'
          - type: 'null'
        output:
          description: 'The output from the custom tool call generated by your code.

            Can be a string or an list of output content.

            '
          oneOf:
          - type: string
            description: 'A string of the output of the custom tool call.

              '
            title: string output
          - type: array
            items:
              $ref: '#/components/schemas/FunctionAndCustomToolCallOutput'
            title: output content list
            description: 'Text, image, or file output of the custom tool call.

              '
      required:
      - type
      - call_id
      - output
    CustomToolCallOutputResource:
      title: ResponseCustomToolCallOutputItem
      allOf:
      - $ref: '#/components/schemas/CustomToolCallOutput'
      - type: object
        properties:
          id:
            type: string
            description: 'The unique ID of the custom tool call output item.

              '
          status:
            description: 'The status of the item. One of `in_progress`, `completed`,
              or

              `incomplete`. Populated when items are returned via API.

              '
            $ref: '#/components/schemas/FunctionCallOutputStatusEnum'
          created_by:
            type: string
            description: 'The identifier of the actor that created the item.

              '
        required:
        - id
        - status
    EasyInputMessage:
      type: object
      title: Input message
      description: 'A message input to the model with a role indicating instruction
        following

        hierarchy. Instructions given with the `developer` or `system` role take

        precedence over instructions given with the `user` role. Messages with the

        `assistant` role are presumed to have been generated by the model in previous

        interactions.

        '
      properties:
        role:
          type: string
          description: 'The role of the message input. One of `user`, `assistant`,
            `system`, or

            `developer`.

            '
          enum:
          - user
          - assistant
          - system
          - developer
        content:
          description: 'Text, image, or audio input to the model, used to generate
            a response.

            Can also contain previous assistant responses.

            '
          oneOf:
          - type: string
            title: Text input
            description: 'A text input to the model.

              '
          - $ref: '#/components/schemas/InputMessageContentList'
        phase:
          anyOf:
          - $ref: '#/components/schemas/MessagePhase'
          - type: 'null'
        type:
          type: string
          description: 'The type of the message input. Always `message`.

            '
          enum:
          - message
      required:
      - role
      - content
    Error:
      type: object
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
        message:
          type: string
        param:
          anyOf:
          - type: string
          - type: 'null'
        type:
          type: string
        misalignment:
          $ref: '#/components/schemas/MisalignmentErrorDetailsResource'
      required:
      - type
      - message
      - param
      - code
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
    FilePath:
      type: object
      title: File path
      description: 'A path to a file.

        '
      properties:
        type:
          type: string
          description: 'The type of the file path. Always `file_path`.

            '
          enum:
          - file_path
        file_id:
          type: string
          description: 'The ID of the file.

            '
        index:
          type: integer
          description: 'The index of the file in the list of files.

            '
      required:
      - type
      - file_id
      - index
    FunctionAndCustomToolCallOutput:
      oneOf:
      - $ref: '#/components/schemas/InputTextContent'
      - $ref: '#/components/schemas/InputImageContent'
      - $ref: '#/components/schemas/InputFileContent'
      discriminator:
        propertyName: type
    FunctionToolCall:
      type: object
      title: Function tool call
      description: "A tool call to run a function. See the \n[function calling guide](/docs/guides/function-calling)\
        \ for more information.\n"
      properties:
        id:
          type: string
          description: 'The unique ID of the function tool call.

            '
        type:
          type: string
          enum:
          - function_call
          description: 'The type of the function tool call. Always `function_call`.

            '
        call_id:
          type: string
          description: 'The unique ID of the function tool call generated by the model.

            '
        caller:
          anyOf:
          - $ref: '#/components/schemas/ToolCallCaller'
          - type: 'null'
        namespace:
          type: string
          description: 'The namespace of the function to run.

            '
        name:
          type: string
          description: 'The name of the function to run.

            '
        arguments:
          type: string
          description: 'A JSON string of the arguments to pass to the function.

            '
        status:
          type: string
          description: 'The status of the item. One of `in_progress`, `completed`,
            or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
        async:
          type: boolean
          description: 'Whether the function tool call runs asynchronously.

            '
      required:
      - type
      - call_id
      - name
      - arguments
    FunctionToolCallOutput:
      type: object
      title: Function tool call output
      description: 'The output of a function tool call.

        '
      properties:
        id:
          type: string
          description: 'The unique ID of the function tool call output. Populated
            when this item

            is returned via API.

            '
        type:
          type: string
          enum:
          - function_call_output
          description: 'The type of the function tool call output. Always `function_call_output`.

            '
        call_id:
          type: string
          description: 'The unique ID of the function tool call generated by the model.

            '
        name:
          type: string
          description: 'The name of the tool that produced the output.

            '
        namespace:
          type: string
          description: 'The namespace of the tool that produced the output.

            '
        caller:
          anyOf:
          - $ref: '#/components/schemas/ToolCallCallerParam'
          - type: 'null'
        output:
          description: 'The output from the function call generated by your code.

            Can be a string or an list of output content.

            '
          oneOf:
          - type: string
            description: 'A string of the output of the function call.

              '
            title: string output
          - type: array
            items:
              $ref: '#/components/schemas/FunctionAndCustomToolCallOutput'
            title: output content list
            description: 'Text, image, or file output of the function call.

              '
        status:
          type: string
          description: 'The status of the item. One of `in_progress`, `completed`,
            or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - output
    FunctionToolCallOutputResource:
      allOf:
      - $ref: '#/components/schemas/FunctionToolCallOutput'
      - type: object
        properties:
          id:
            type: string
            description: 'The unique ID of the function call tool output.

              '
          status:
            description: 'The status of the item. One of `in_progress`, `completed`,
              or

              `incomplete`. Populated when items are returned via API.

              '
            $ref: '#/components/schemas/FunctionCallOutputStatusEnum'
          created_by:
            type: string
            description: 'The identifier of the actor that created the item.

              '
        required:
        - id
        - status
    InputContent:
      oneOf:
      - $ref: '#/components/schemas/InputTextContent'
      - $ref: '#/components/schemas/InputImageContent'
      - $ref: '#/components/schemas/InputFileContent'
      discriminator:
        propertyName: type
    InputItem:
      oneOf:
      - $ref: '#/components/schemas/EasyInputMessage'
      - type: object
        title: Item
        description: 'An item representing part of the context for the response to
          be

          generated by the model. Can contain text, images, and audio inputs,

          as well as previous assistant responses and tool call outputs.

          '
        $ref: '#/components/schemas/Item'
      - $ref: '#/components/schemas/ItemReferenceParam'
      discriminator:
        propertyName: type
    InputMessage:
      type: object
      title: Input message
      description: 'A message input to the model with a role indicating instruction
        following

        hierarchy. Instructions given with the `developer` or `system` role take

        precedence over instructions given with the `user` role.

        '
      properties:
        type:
          type: string
          description: 'The type of the message input. Always set to `message`.

            '
          enum:
          - message
        role:
          type: string
          description: 'The role of the message input. One of `user`, `system`, or
            `developer`.

            '
          enum:
          - user
          - system
          - developer
        status:
          type: string
          description: 'The status of item. One of `in_progress`, `completed`, or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
        content:
          $ref: '#/components/schemas/InputMessageContentList'
      required:
      - role
      - content
    InputMessageContentList:
      type: array
      title: Input item content list
      description: "A list of one or many input items to the model, containing different\
        \ content \ntypes.\n"
      items:
        $ref: '#/components/schemas/InputContent'
    InputParam:
      description: 'Text, image, or file inputs to the model, used to generate a response.


        Learn more:

        - [Text inputs and outputs](/docs/guides/text)

        - [Image inputs](/docs/guides/images)

        - [File inputs](/docs/guides/pdf-files)

        - [Conversation state](/docs/guides/conversation-state)

        - [Function calling](/docs/guides/function-calling)

        '
      oneOf:
      - type: string
        title: Text input
        description: 'A text input to the model, equivalent to a text input with the

          `user` role.

          '
      - type: array
        title: Input item list
        description: 'A list of one or many input items to the model, containing

          different content types.

          '
        items:
          $ref: '#/components/schemas/InputItem'
    Item:
      type: object
      description: 'Content item used to generate a response.

        '
      oneOf:
      - $ref: '#/components/schemas/InputMessage'
      - $ref: '#/components/schemas/OutputMessage'
      - $ref: '#/components/schemas/FunctionToolCall'
      - $ref: '#/components/schemas/FunctionCallOutputItemParam'
      - $ref: '#/components/schemas/ReasoningItem'
      - $ref: '#/components/schemas/CustomToolCallOutput'
      - $ref: '#/components/schemas/CustomToolCall'
      discriminator:
        propertyName: type
    MessagePhase:
      type: string
      description: 'Labels an `assistant` message as intermediate commentary (`commentary`)
        or the final answer (`final_answer`).

        For models like `gpt-5.3-codex` and beyond, when sending follow-up requests,
        preserve and resend

        phase on all assistant messages — dropping it can degrade performance. Not
        used for user messages.

        '
      enum:
      - commentary
      - final_answer
    ModelIdsResponses:
      example: gpt-6-astra
      anyOf:
      - $ref: '#/components/schemas/ModelIdsShared'
      - type: string
        title: ResponsesOnlyModel
        enum:
        - o1-pro
        - o1-pro-2025-03-19
        - o3-pro
        - o3-pro-2025-06-10
        - o3-deep-research
        - o3-deep-research-2025-06-26
        - o4-mini-deep-research
        - o4-mini-deep-research-2025-06-26
        - computer-use-preview
        - computer-use-preview-2025-03-11
        - gpt-5.5-pro
        - gpt-5.5-pro-2026-04-23
        - gpt-5-codex
        - gpt-5-pro
        - gpt-5-pro-2025-10-06
        - gpt-5.1-codex-max
        - gpt-daybreak-blue-latest
        - gpt-daybreak-red-latest
        - gpt-5.6-cyber
    ModelIdsShared:
      example: gpt-6-astra
      anyOf:
      - type: string
      - type: string
        enum:
        - gpt-6-astra
        - gpt-5.6-sol
        - gpt-5.6-terra
        - gpt-5.6-luna
        - gpt-5.5
        - gpt-5.5-2026-04-23
        - gpt-5.4
        - gpt-5.4-mini
        - gpt-5.4-nano
        - gpt-5.4-mini-2026-03-17
        - gpt-5.4-nano-2026-03-17
        - gpt-5.3-chat-latest
        - gpt-5.2
        - gpt-5.2-2025-12-11
        - gpt-5.2-chat-latest
        - gpt-5.2-pro
        - gpt-5.2-pro-2025-12-11
        - gpt-5.1
        - gpt-5.1-2025-11-13
        - gpt-5.1-codex
        - gpt-5.1-mini
        - gpt-5.1-chat-latest
        - gpt-5
        - gpt-5-mini
        - gpt-5-nano
        - gpt-5-2025-08-07
        - gpt-5-mini-2025-08-07
        - gpt-5-nano-2025-08-07
        - gpt-5-chat-latest
        - gpt-4.1
        - gpt-4.1-mini
        - gpt-4.1-nano
        - gpt-4.1-2025-04-14
        - gpt-4.1-mini-2025-04-14
        - gpt-4.1-nano-2025-04-14
        - o4-mini
        - o4-mini-2025-04-16
        - o3
        - o3-2025-04-16
        - o3-mini
        - o3-mini-2025-01-31
        - o1
        - o1-2024-12-17
        - o1-preview
        - o1-preview-2024-09-12
        - o1-mini
        - o1-mini-2024-09-12
        - gpt-4o
        - gpt-4o-2024-11-20
        - gpt-4o-2024-08-06
        - gpt-4o-2024-05-13
        - gpt-4o-audio-preview
        - gpt-4o-audio-preview-2024-10-01
        - gpt-4o-audio-preview-2024-12-17
        - gpt-4o-audio-preview-2025-06-03
        - gpt-4o-mini-audio-preview
        - gpt-4o-mini-audio-preview-2024-12-17
        - gpt-4o-search-preview
        - gpt-4o-mini-search-preview
        - gpt-4o-search-preview-2025-03-11
        - gpt-4o-mini-search-preview-2025-03-11
        - chatgpt-4o-latest
        - codex-mini-latest
        - gpt-4o-mini
        - gpt-4o-mini-2024-07-18
        - gpt-4-turbo
        - gpt-4-turbo-2024-04-09
        - gpt-4-0125-preview
        - gpt-4-turbo-preview
        - gpt-4-1106-preview
        - gpt-4-vision-preview
        - gpt-4
        - gpt-4-0314
        - gpt-4-0613
        - gpt-4-32k
        - gpt-4-32k-0314
        - gpt-4-32k-0613
        - gpt-3.5-turbo
        - gpt-3.5-turbo-16k
        - gpt-3.5-turbo-0301
        - gpt-3.5-turbo-0613
        - gpt-3.5-turbo-1106
        - gpt-3.5-turbo-0125
        - gpt-3.5-turbo-16k-0613
    ModelResponseProperties:
      type: object
      properties:
        top_logprobs:
          anyOf:
          - description: 'An integer between 0 and 20 specifying the maximum number
              of most likely

              tokens to return at each token position, each with an associated log

              probability. In some cases, the number of returned tokens may be fewer
              than

              requested.

              '
            type: integer
            minimum: 0
            maximum: 20
          - type: 'null'
        temperature:
          anyOf:
          - type: number
            minimum: 0
            maximum: 2
            default: 1
            example: 1
            description: 'What sampling temperature to use, between 0 and 2. Higher
              values like 0.8 will make the output more random, while lower values
              like 0.2 will make it more focused and deterministic.

              We generally recommend altering this or `top_p` but not both.

              '
          - type: 'null'
        top_p:
          anyOf:
          - type: number
            minimum: 0
            maximum: 1
            default: 1
            example: 1
            description: 'An alternative to sampling with temperature, called nucleus
              sampling,

              where the model considers the results of the tokens with top_p probability

              mass. So 0.1 means only the tokens comprising the top 10% probability
              mass

              are considered.


              We generally recommend altering this or `temperature` but not both.

              '
          - type: 'null'
        user:
          type: string
          example: user-1234
          deprecated: true
          description: 'This field is being replaced by `safety_identifier` and `prompt_cache_key`.
            Use `prompt_cache_key` instead to maintain caching optimizations.

            A stable identifier for your end-users.

            Used to boost cache hit rates by better bucketing similar requests and  to
            help OpenAI detect and prevent abuse. [Learn more](/docs/guides/safety-best-practices#safety-identifiers).

            '
    OutputItem:
      oneOf:
      - $ref: '#/components/schemas/OutputMessage'
      - $ref: '#/components/schemas/FunctionToolCall'
      - $ref: '#/components/schemas/FunctionToolCallOutputResource'
      - $ref: '#/components/schemas/ReasoningItem'
      - $ref: '#/components/schemas/CustomToolCall'
      - $ref: '#/components/schemas/CustomToolCallOutputResource'
      discriminator:
        propertyName: type
    OutputMessage:
      type: object
      title: Output message
      description: 'An output message from the model.

        '
      properties:
        id:
          type: string
          description: 'The unique ID of the output message.

            '
        type:
          type: string
          description: 'The type of the output message. Always `message`.

            '
          enum:
          - message
        role:
          type: string
          description: 'The role of the output message. Always `assistant`.

            '
          enum:
          - assistant
        content:
          type: array
          description: 'The content of the output message.

            '
          items:
            $ref: '#/components/schemas/OutputMessageContent'
        phase:
          anyOf:
          - $ref: '#/components/schemas/MessagePhase'
          - type: 'null'
        status:
          type: string
          description: 'The status of the message input. One of `in_progress`, `completed`,
            or

            `incomplete`. Populated when input items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - id
      - type
      - role
      - content
      - status
    OutputMessageContent:
      oneOf:
      - $ref: '#/components/schemas/OutputTextContent'
      - $ref: '#/components/schemas/RefusalContent'
      discriminator:
        propertyName: type
    Reasoning:
      type: object
      description: 'Configuration options for

        [reasoning models](https://platform.openai.com/docs/guides/reasoning).

        '
      title: Reasoning
      properties:
        mode:
          $ref: '#/components/schemas/ReasoningModeEnum'
          description: 'Controls the reasoning execution mode for the request.


            When returned on a response, this is the effective execution mode.

            '
        effort:
          $ref: '#/components/schemas/ReasoningEffort'
        context:
          anyOf:
          - type: string
            description: 'Controls which reasoning items are rendered back to the
              model on later turns.

              If omitted or set to `auto`, the model determines the context mode.
              The

              `gpt-5.6` model family defaults to `all_turns`; earlier models default
              to

              `current_turn`.


              When returned on a response, this is the effective reasoning context
              mode

              used for the response.

              '
            enum:
            - auto
            - current_turn
            - all_turns
          - type: 'null'
    ReasoningEffort:
      anyOf:
      - type: string
        enum:
        - low
        - high
        - max
        default: medium
        description: 'Constrains effort on reasoning for reasoning models. Currently
          supported

          values are `none`, `minimal`, `low`, `medium`, `high`, `xhigh`, and `max`.

          Reducing reasoning effort can result in faster responses and fewer tokens

          used on reasoning in a response. Not all reasoning models support every

          value. See the

          [reasoning guide](https://platform.openai.com/docs/guides/reasoning)

          for model-specific support.

          '
      - type: 'null'
    ReasoningItem:
      type: object
      description: 'A description of the chain of thought used by a reasoning model
        while generating

        a response. Be sure to include these items in your `input` to the Responses
        API

        for subsequent turns of a conversation if you are manually

        [managing context](/docs/guides/conversation-state).

        '
      title: Reasoning
      properties:
        type:
          type: string
          description: 'The type of the object. Always `reasoning`.

            '
          enum:
          - reasoning
        id:
          type: string
          description: 'The unique identifier of the reasoning content.

            '
        encrypted_content:
          anyOf:
          - type: string
            description: 'The encrypted content of the reasoning item. This is populated
              by default

              for reasoning items returned by `POST /v1/responses` and WebSocket

              `response.create` requests.


              When streaming, use the completed reasoning item and its

              `encrypted_content` from the `response.output_item.done` event in

              subsequent requests. The `encrypted_content` in

              `response.output_item.added` may be incomplete. This is especially

              important when `store` is `false` or when using Zero Data Retention.

              '
          - type: 'null'
        summary:
          type: array
          description: 'Reasoning summary content.

            '
          items:
            $ref: '#/components/schemas/SummaryTextContent'
        content:
          type: array
          description: 'Reasoning text content.

            '
          items:
            $ref: '#/components/schemas/ReasoningTextContent'
        status:
          type: string
          description: 'The status of the item. One of `in_progress`, `completed`,
            or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - id
      - summary
      - type
    Response:
      title: The response object
      allOf:
      - $ref: '#/components/schemas/ModelResponseProperties'
      - $ref: '#/components/schemas/ResponseProperties'
      - type: object
        properties:
          truncation:
            anyOf:
            - type: string
              description: "The truncation strategy to use for the model response.\n\
                - `auto`: If the input to this Response exceeds\n  the model's context\
                \ window size, the model will truncate the\n  response to fit the\
                \ context window by dropping items from the beginning of the conversation.\n\
                - `disabled` (default): If the input size will exceed the context\
                \ window\n  size for a model, the request will fail with a 400 error.\n"
              enum:
              - auto
              - disabled
              default: disabled
            - type: 'null'
          id:
            type: string
            description: 'Unique identifier for this Response.

              '
          object:
            type: string
            description: 'The object type of this resource - always set to `response`.

              '
            enum:
            - response
          status:
            type: string
            description: 'The status of the response generation. One of `completed`,
              `failed`,

              `in_progress`, `cancelled`, `queued`, or `incomplete`.

              '
            enum:
            - completed
            - failed
            - in_progress
            - cancelled
            - queued
            - incomplete
          created_at:
            type: number
            format: unixtime
            description: 'Unix timestamp (in seconds) of when this Response was created.

              '
          completed_at:
            anyOf:
            - type: number
              format: unixtime
              description: 'Unix timestamp (in seconds) of when this Response was
                completed.

                Only present when the status is `completed`.

                '
            - type: 'null'
          error:
            $ref: '#/components/schemas/ResponseError'
          incomplete_details:
            anyOf:
            - type: object
              description: 'Details about why the response is incomplete.

                '
              properties:
                reason:
                  type: string
                  description: 'The reason why the response is incomplete. `steered`
                    means

                    the response stopped at a safe output boundary after a

                    WebSocket `response.steer` event. The server can then create

                    a successor response automatically with the queued input.

                    '
                  enum:
                  - max_output_tokens
                  - max_messages
                  - content_filter
                  - steered
            - type: 'null'
          output:
            type: array
            description: "An array of content items generated by the model.\n\n- The\
              \ length and order of items in the `output` array is dependent\n  on\
              \ the model's response.\n- Rather than accessing the first item in the\
              \ `output` array and\n  assuming it's an `assistant` message with the\
              \ content generated by\n  the model, you might consider using the `output_text`\
              \ property where\n  supported in SDKs.\n"
            items:
              $ref: '#/components/schemas/OutputItem'
          reasoning:
            anyOf:
            - $ref: '#/components/schemas/Reasoning'
            - type: 'null'
          instructions:
            anyOf:
            - description: 'A system (or developer) message inserted into the model''s
                context.


                When using along with `previous_response_id`, the instructions from
                a previous

                response will not be carried over to the next response. This makes
                it simple

                to swap out system (or developer) messages in new responses.

                '
              oneOf:
              - type: string
                description: 'A text input to the model, equivalent to a text input
                  with the

                  `developer` role.

                  '
              - type: array
                title: Input item list
                description: 'A list of one or many input items to the model, containing

                  different content types.

                  '
                items:
                  $ref: '#/components/schemas/InputItem'
            - type: 'null'
          output_text:
            anyOf:
            - type: string
              description: 'SDK-only convenience property that contains the aggregated
                text output

                from all `output_text` items in the `output` array, if any are present.

                Supported in the Python and JavaScript SDKs.

                '
            - type: 'null'
          usage:
            $ref: '#/components/schemas/ResponseUsage'
          parallel_tool_calls:
            type: boolean
            description: 'Whether to allow the model to run tool calls in parallel.

              '
            default: true
          conversation:
            anyOf:
            - default: null
              $ref: '#/components/schemas/ResponseConversation'
            - type: 'null'
          max_output_tokens:
            anyOf:
            - description: 'An upper bound for the number of tokens that can be generated
                for a response, including visible output tokens and [reasoning tokens](/docs/guides/reasoning).

                '
              type: integer
            - type: 'null'
        required:
        - id
        - object
        - created_at
        - error
        - incomplete_details
        - instructions
        - model
        - tools
        - output
        - parallel_tool_calls
        - metadata
        - tool_choice
        - temperature
        - top_p
      example:
        id: resp_67ccd3a9da748190baa7f1570fe91ac604becb25c45c1d41
        object: response
        created_at: 1741476777
        status: completed
        completed_at: 1741476778
        error: null
        incomplete_details: null
        instructions: null
        max_output_tokens: null
        model: gpt-6-astra
        output:
        - type: message
          id: msg_67ccd3acc8d48190a77525dc6de64b4104becb25c45c1d41
          status: completed
          role: assistant
          content:
          - type: output_text
            text: The image depicts a scenic landscape with a wooden boardwalk or
              pathway leading through lush, green grass under a blue sky with some
              clouds. The setting suggests a peaceful natural area, possibly a park
              or nature reserve. There are trees and shrubs in the background.
        parallel_tool_calls: true
        previous_response_id: null
        reasoning:
          effort: null
          summary: null
          context: null
        store: true
        temperature: 1
        text:
          format:
            type: text
        tool_choice: auto
        top_p: 1
        truncation: disabled
        usage:
          input_tokens: 328
          input_tokens_details:
            cached_tokens: 0
            cache_write_tokens: 0
          output_tokens: 52
          output_tokens_details:
            reasoning_tokens: 0
          total_tokens: 380
        user: null
        metadata: {}
    ResponseError:
      anyOf:
      - type: object
        description: 'An error object returned when the model fails to generate a
          Response.

          '
        properties:
          code:
            $ref: '#/components/schemas/ResponseErrorCode'
          message:
            type: string
            description: 'A human-readable description of the error.

              '
          misalignment:
            $ref: '#/components/schemas/MisalignmentErrorDetailsResource'
        required:
        - code
        - message
      - type: 'null'
    ResponseErrorCode:
      type: string
      description: 'The error code for the response.

        '
      enum:
      - server_error
      - rate_limit_exceeded
      - invalid_prompt
      - data_residency_mismatch
      - bio_policy
      - misalignment_policy_violation
      - vector_store_timeout
      - invalid_image
      - invalid_image_format
      - invalid_base64_image
      - invalid_image_url
      - image_too_large
      - image_too_small
      - image_parse_error
      - image_content_policy_violation
      - invalid_image_mode
      - image_file_too_large
      - unsupported_image_media_type
      - empty_image_file
      - failed_to_download_image
      - image_file_not_found
    ResponseFormatJsonObject:
      type: object
      title: JSON object
      description: 'JSON object response format. An older method of generating JSON
        responses.

        Using `json_schema` is recommended for models that support it. Note that the

        model will not generate JSON without a system or user message instructing
        it

        to do so.

        '
      properties:
        type:
          type: string
          description: The type of response format being defined. Always `json_object`.
          enum:
          - json_object
      required:
      - type
    ResponseFormatJsonSchemaSchema:
      type: object
      title: JSON schema
      description: 'The schema for the response format, described as a JSON Schema
        object.

        Learn how to build JSON schemas [here](https://json-schema.org/).

        '
      additionalProperties: true
    ResponseFormatText:
      type: object
      title: Text
      description: 'Default response format. Used to generate text responses.

        '
      properties:
        type:
          type: string
          description: The type of response format being defined. Always `text`.
          enum:
          - text
      required:
      - type
    ResponseProperties:
      type: object
      properties:
        model:
          description: 'Model ID used to generate the response, like `gpt-6-astra`.
            OpenAI

            offers a wide range of models with different capabilities, performance

            characteristics, and price points. Refer to the [model guide](/docs/models)

            to browse and compare available models.

            '
          $ref: '#/components/schemas/ModelIdsResponses'
        text:
          $ref: '#/components/schemas/ResponseTextParam'
        tools:
          $ref: '#/components/schemas/ToolsArray'
        tool_choice:
          $ref: '#/components/schemas/ToolChoiceParam'
    ResponseTextParam:
      type: object
      description: 'Configuration options for a text response from the model. Can
        be plain

        text or structured JSON data. Learn more:

        - [Text inputs and outputs](/docs/guides/text)

        - [Structured Outputs](/docs/guides/structured-outputs)

        '
      properties:
        format:
          $ref: '#/components/schemas/TextResponseFormatConfiguration'
    ResponseUsage:
      type: object
      description: 'Represents token usage details including input tokens, output
        tokens,

        a breakdown of output tokens, and the total tokens used.

        '
      properties:
        input_tokens:
          type: integer
          description: The number of input tokens.
        input_tokens_details:
          type: object
          description: A detailed breakdown of the input tokens.
          properties:
            cached_tokens:
              type: integer
              description: "The number of tokens that were retrieved from the cache.\
                \ \n[More on prompt caching](/docs/guides/prompt-caching).\n"
            cache_write_tokens:
              type: integer
              description: The number of input tokens that were written to the cache.
          required:
          - cached_tokens
          - cache_write_tokens
        output_tokens:
          type: integer
          description: The number of output tokens.
        output_tokens_details:
          type: object
          description: A detailed breakdown of the output tokens.
          properties:
            reasoning_tokens:
              type: integer
              description: The number of reasoning tokens.
          required:
          - reasoning_tokens
        total_tokens:
          type: integer
          description: The total number of tokens used.
      required:
      - input_tokens
      - input_tokens_details
      - output_tokens
      - output_tokens_details
      - total_tokens
    TextResponseFormatConfiguration:
      description: "An object specifying the format that the model must output.\n\n\
        Configuring `{ \"type\": \"json_schema\" }` enables Structured Outputs, \n\
        which ensures the model will match your supplied JSON schema. Learn more in\
        \ the \n[Structured Outputs guide](/docs/guides/structured-outputs).\n\nThe\
        \ default format is `{ \"type\": \"text\" }` with no additional options.\n\
        \n**Not recommended for gpt-4o and newer models:**\n\nSetting to `{ \"type\"\
        : \"json_object\" }` enables the older JSON mode, which\nensures the message\
        \ the model generates is valid JSON. Using `json_schema`\nis preferred for\
        \ models that support it.\n"
      oneOf:
      - $ref: '#/components/schemas/ResponseFormatText'
      - $ref: '#/components/schemas/TextResponseFormatJsonSchema'
      - $ref: '#/components/schemas/ResponseFormatJsonObject'
    TextResponseFormatJsonSchema:
      type: object
      title: JSON schema
      description: 'JSON Schema response format. Used to generate structured JSON
        responses.

        Learn more about [Structured Outputs](/docs/guides/structured-outputs).

        '
      properties:
        type:
          type: string
          description: The type of response format being defined. Always `json_schema`.
          enum:
          - json_schema
        description:
          type: string
          description: 'A description of what the response format is for, used by
            the model to

            determine how to respond in the format.

            '
        name:
          type: string
          description: 'The name of the response format. Must be a-z, A-Z, 0-9, or
            contain

            underscores and dashes, with a maximum length of 64.

            '
        schema:
          $ref: '#/components/schemas/ResponseFormatJsonSchemaSchema'
        strict:
          anyOf:
          - type: boolean
            default: false
            description: 'Whether to enable strict schema adherence when generating
              the output.

              If set to true, the model will always follow the exact schema defined

              in the `schema` field. Only a subset of JSON Schema is supported when

              `strict` is `true`. To learn more, read the [Structured Outputs

              guide](/docs/guides/structured-outputs).

              '
          - type: 'null'
      required:
      - type
      - schema
      - name
    Tool:
      description: 'A tool that can be used to generate a response.

        '
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/FunctionTool'
      - $ref: '#/components/schemas/CustomToolParam'
    ToolChoiceCustom:
      type: object
      title: Custom tool
      description: 'Use this option to force the model to call a specific custom tool.

        '
      properties:
        type:
          type: string
          enum:
          - custom
          description: For custom tool calling, the type is always `custom`.
        name:
          type: string
          description: The name of the custom tool to call.
      required:
      - type
      - name
    ToolChoiceFunction:
      type: object
      title: Function tool
      description: 'Use this option to force the model to call a specific function.

        '
      properties:
        type:
          type: string
          enum:
          - function
          description: For function calling, the type is always `function`.
        name:
          type: string
          description: The name of the function to call.
      required:
      - type
      - name
    ToolChoiceOptions:
      type: string
      title: Tool choice mode
      description: 'Controls which (if any) tool is called by the model.


        `none` means the model will not call any tool and instead generates a message.


        `auto` means the model can pick between generating a message or calling one
        or

        more tools.


        `required` means the model must call one or more tools.

        '
      enum:
      - none
      - auto
      - required
    ToolChoiceParam:
      description: 'How the model should select which tool (or tools) to use when
        generating

        a response. See the `tools` parameter to see how to specify which tools

        the model can call.

        '
      oneOf:
      - $ref: '#/components/schemas/ToolChoiceOptions'
      - $ref: '#/components/schemas/ToolChoiceFunction'
      - $ref: '#/components/schemas/ToolChoiceCustom'
    ToolsArray:
      type: array
      description: "An array of tools the model may call while generating a response.\
        \ You\ncan specify which tool to use by setting the `tool_choice` parameter.\n\
        \nWe support the following categories of tools:\n- **Built-in tools**: Tools\
        \ that are provided by OpenAI that extend the\n  model's capabilities, like\
        \ [web search](/docs/guides/tools-web-search)\n  or [file search](/docs/guides/tools-file-search).\
        \ Learn more about\n  [built-in tools](/docs/guides/tools).\n- **MCP Tools**:\
        \ Integrations with third-party systems via custom MCP servers\n  or predefined\
        \ connectors such as Google Drive and SharePoint. Learn more about\n  [MCP\
        \ Tools](/docs/guides/tools-connectors-mcp).\n- **Function calls (custom tools)**:\
        \ Functions that are defined by you,\n  enabling the model to call your own\
        \ code with strongly typed arguments\n  and outputs. Learn more about\n  [function\
        \ calling](/docs/guides/function-calling). You can also use\n  custom tools\
        \ to call your own code.\n"
      items:
        $ref: '#/components/schemas/Tool'
    InputTextContent:
      properties:
        type:
          type: string
          enum:
          - input_text
          description: The type of the input item. Always `input_text`.
          default: input_text
        text:
          type: string
          description: The text input to the model.
      type: object
      required:
      - type
      - text
      title: Input text
      description: A text input to the model.
    FileCitationBody:
      properties:
        type:
          type: string
          enum:
          - file_citation
          description: The type of the file citation. Always `file_citation`.
          default: file_citation
        file_id:
          type: string
          description: The ID of the file.
        index:
          type: integer
          description: The index of the file in the list of files.
        filename:
          type: string
          description: The filename of the file cited.
      type: object
      required:
      - type
      - file_id
      - index
      - filename
      title: File citation
      description: A citation to a file.
    UrlCitationBody:
      properties:
        type:
          type: string
          enum:
          - url_citation
          description: The type of the URL citation. Always `url_citation`.
          default: url_citation
        url:
          type: string
          format: uri
          description: The URL of the web resource.
        start_index:
          type: integer
          description: The index of the first character of the URL citation in the
            message.
        end_index:
          type: integer
          description: The index of the last character of the URL citation in the
            message.
        title:
          type: string
          description: The title of the web resource.
      type: object
      required:
      - type
      - url
      - start_index
      - end_index
      - title
      title: URL citation
      description: A citation for a web resource used to generate a model response.
    ContainerFileCitationBody:
      properties:
        type:
          type: string
          enum:
          - container_file_citation
          description: The type of the container file citation. Always `container_file_citation`.
          default: container_file_citation
        container_id:
          type: string
          description: The ID of the container file.
        file_id:
          type: string
          description: The ID of the file.
        start_index:
          type: integer
          description: The index of the first character of the container file citation
            in the message.
        end_index:
          type: integer
          description: The index of the last character of the container file citation
            in the message.
        filename:
          type: string
          description: The filename of the container file cited.
      type: object
      required:
      - type
      - container_id
      - file_id
      - start_index
      - end_index
      - filename
      title: Container file citation
      description: A citation for a container file used to generate a model response.
    Annotation:
      oneOf:
      - $ref: '#/components/schemas/FileCitationBody'
      - $ref: '#/components/schemas/UrlCitationBody'
      - $ref: '#/components/schemas/ContainerFileCitationBody'
      - $ref: '#/components/schemas/FilePath'
      description: An annotation that applies to a span of output text.
      discriminator:
        propertyName: type
    TopLogProb:
      properties:
        token:
          type: string
        logprob:
          type: number
        bytes:
          items:
            type: integer
          type: array
      type: object
      required:
      - token
      - logprob
      - bytes
      title: Top log probability
      description: The top log probability of a token.
    LogProb:
      properties:
        token:
          type: string
        logprob:
          type: number
        bytes:
          items:
            type: integer
          type: array
        top_logprobs:
          items:
            $ref: '#/components/schemas/TopLogProb'
          type: array
      type: object
      required:
      - token
      - logprob
      - bytes
      - top_logprobs
      title: Log probability
      description: The log probability of a token.
    OutputTextContent:
      properties:
        type:
          type: string
          enum:
          - output_text
          description: The type of the output text. Always `output_text`.
          default: output_text
        text:
          type: string
          description: The text output from the model.
        annotations:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
          description: The annotations of the text output.
        logprobs:
          items:
            $ref: '#/components/schemas/LogProb'
          type: array
      type: object
      required:
      - type
      - text
      - annotations
      - logprobs
      title: Output text
      description: A text output from the model.
    SummaryTextContent:
      properties:
        type:
          type: string
          enum:
          - summary_text
          description: The type of the object. Always `summary_text`.
          default: summary_text
        text:
          type: string
          description: A summary of the reasoning output from the model so far.
      type: object
      required:
      - type
      - text
      title: Summary text
      description: A summary text from the model.
    ReasoningTextContent:
      properties:
        type:
          type: string
          enum:
          - reasoning_text
          description: The type of the reasoning text. Always `reasoning_text`.
          default: reasoning_text
        text:
          type: string
          description: The reasoning text from the model.
      type: object
      required:
      - type
      - text
      title: Reasoning text
      description: Reasoning text from the model.
    RefusalContent:
      properties:
        type:
          type: string
          enum:
          - refusal
          description: The type of the refusal. Always `refusal`.
          default: refusal
        refusal:
          type: string
          description: The refusal explanation from the model.
      type: object
      required:
      - type
      - refusal
      title: Refusal
      description: A refusal from the model.
    ImageDetail:
      type: string
      enum:
      - low
      - high
      - auto
      - original
    InputImageContent:
      properties:
        type:
          type: string
          enum:
          - input_image
          description: The type of the input item. Always `input_image`.
          default: input_image
        image_url:
          anyOf:
          - type: string
            format: uri
            description: The URL of the image to be sent to the model. A fully qualified
              URL or base64 encoded image in a data URL.
          - type: 'null'
        file_id:
          anyOf:
          - type: string
            description: The ID of the file to be sent to the model.
          - type: 'null'
        detail:
          $ref: '#/components/schemas/ImageDetail'
          description: The detail level of the image to be sent to the model. One
            of `high`, `low`, `auto`, or `original`. Defaults to `auto`.
      type: object
      required:
      - type
      - detail
      title: Input image
      description: An image input to the model. Learn about [image inputs](/docs/guides/vision).
    FileInputDetail:
      type: string
      enum:
      - auto
      - low
      - high
    InputFileContent:
      properties:
        type:
          type: string
          enum:
          - input_file
          description: The type of the input item. Always `input_file`.
          default: input_file
        file_id:
          anyOf:
          - type: string
            description: The ID of the file to be sent to the model.
          - type: 'null'
        filename:
          type: string
          description: The name of the file to be sent to the model.
        file_data:
          type: string
          description: 'The content of the file to be sent to the model.

            '
        file_url:
          type: string
          format: uri
          description: The URL of the file to be sent to the model.
        detail:
          $ref: '#/components/schemas/FileInputDetail'
          description: The detail level of the file to be sent to the model. Use `auto`
            to let the system select the detail level; for GPT-5.6 and later models,
            `auto` uses high-quality rendering, which may increase input token usage.
            Use `low` for lower-cost rendering, or `high` to render the file at higher
            quality. Defaults to `auto`.
      type: object
      required:
      - type
      title: Input file
      description: A file input to the model.
    DirectToolCallCaller:
      properties:
        type:
          type: string
          enum:
          - direct
          default: direct
      type: object
      required:
      - type
    ToolCallCaller:
      oneOf:
      - $ref: '#/components/schemas/DirectToolCallCaller'
      description: The execution context that produced this tool call.
      discriminator:
        propertyName: type
    DirectToolCallCallerParam:
      properties:
        type:
          type: string
          enum:
          - direct
          description: The caller type. Always `direct`.
          default: direct
      type: object
      required:
      - type
    ToolCallCallerParam:
      oneOf:
      - $ref: '#/components/schemas/DirectToolCallCallerParam'
      description: The execution context that produced this tool call.
      discriminator:
        propertyName: type
    FunctionCallOutputStatusEnum:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
    CallableToolAllowedCaller:
      type: string
      enum:
      - direct
      - programmatic
    FunctionTool:
      properties:
        type:
          type: string
          enum:
          - function
          description: The type of the function tool. Always `function`.
          default: function
        name:
          type: string
          description: The name of the function to call.
        async:
          type: boolean
        description:
          anyOf:
          - type: string
            description: A description of the function. Used by the model to determine
              whether or not to call the function.
          - type: 'null'
        parameters:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON schema object describing the parameters of the function.
          - type: 'null'
        output_schema:
          anyOf:
          - additionalProperties: {}
            type: object
            description: A JSON schema object describing the JSON value encoded in
              string outputs for this function.
          - type: 'null'
        strict:
          anyOf:
          - type: boolean
            description: Whether strict parameter validation is enforced for this
              function tool.
          - type: 'null'
        defer_loading:
          type: boolean
          description: Whether this function is deferred and loaded via tool search.
        allowed_callers:
          anyOf:
          - items:
              $ref: '#/components/schemas/CallableToolAllowedCaller'
            type: array
            description: The tool invocation context(s).
          - type: 'null'
      type: object
      required:
      - type
      - name
      - strict
      - parameters
      title: Function
      description: Defines a function in your own code the model can choose to call.
        Learn more about [function calling](https://platform.openai.com/docs/guides/function-calling).
    CustomTextFormatParam:
      properties:
        type:
          type: string
          enum:
          - text
          description: Unconstrained text format. Always `text`.
          default: text
      type: object
      required:
      - type
      title: Text format
      description: Unconstrained free-form text.
    GrammarSyntax1:
      type: string
      enum:
      - lark
      - regex
    CustomGrammarFormatParam:
      properties:
        type:
          type: string
          enum:
          - grammar
          description: Grammar format. Always `grammar`.
          default: grammar
        syntax:
          $ref: '#/components/schemas/GrammarSyntax1'
          description: The syntax of the grammar definition. One of `lark` or `regex`.
        definition:
          type: string
          description: The grammar definition.
      type: object
      required:
      - type
      - syntax
      - definition
      title: Grammar format
      description: A grammar defined by the user.
    CustomToolParam:
      properties:
        type:
          type: string
          enum:
          - custom
          description: The type of the custom tool. Always `custom`.
          default: custom
        name:
          type: string
          description: The name of the custom tool, used to identify it in tool calls.
        async:
          type: boolean
          description: Whether the tool response can be returned asynchronously versus
            immediately returned on next response creation.
        description:
          type: string
          description: Optional description of the custom tool, used to provide more
            context.
        format:
          oneOf:
          - $ref: '#/components/schemas/CustomTextFormatParam'
          - $ref: '#/components/schemas/CustomGrammarFormatParam'
          description: The input format for the custom tool. Default is unconstrained
            text.
          discriminator:
            propertyName: type
        defer_loading:
          type: boolean
          description: Whether this tool should be deferred and discovered via tool
            search.
        allowed_callers:
          anyOf:
          - items:
              $ref: '#/components/schemas/CallableToolAllowedCaller'
            type: array
            minItems: 1
            description: The tool invocation context(s).
          - type: 'null'
      type: object
      required:
      - type
      - name
      title: Custom tool
      description: A custom tool that processes input using a specified format. Learn
        more about   [custom tools](/docs/guides/function-calling#custom-tools)
    DetailEnum:
      type: string
      enum:
      - low
      - high
      - auto
      - original
    FunctionCallItemStatus:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
    InputTextContentParam:
      properties:
        type:
          type: string
          enum:
          - input_text
          description: The type of the input item. Always `input_text`.
          default: input_text
        text:
          type: string
          maxLength: 10485760
          description: The text input to the model.
      type: object
      required:
      - type
      - text
      title: Input text
      description: A text input to the model.
    InputImageContentParamAutoParam:
      properties:
        type:
          type: string
          enum:
          - input_image
          description: The type of the input item. Always `input_image`.
          default: input_image
        image_url:
          anyOf:
          - type: string
            maxLength: 20971520
            format: uri
            description: The URL of the image to be sent to the model. A fully qualified
              URL or base64 encoded image in a data URL.
          - type: 'null'
        file_id:
          anyOf:
          - type: string
            description: The ID of the file to be sent to the model.
            example: file-123
          - type: 'null'
        detail:
          anyOf:
          - $ref: '#/components/schemas/DetailEnum'
            description: The detail level of the image to be sent to the model. One
              of `high`, `low`, `auto`, or `original`. Defaults to `auto`.
          - type: 'null'
      type: object
      required:
      - type
      title: Input image
      description: An image input to the model. Learn about [image inputs](/docs/guides/vision)
    FileDetailEnum:
      type: string
      enum:
      - auto
      - low
      - high
    InputFileContentParam:
      properties:
        type:
          type: string
          enum:
          - input_file
          description: The type of the input item. Always `input_file`.
          default: input_file
        file_id:
          anyOf:
          - type: string
            description: The ID of the file to be sent to the model.
            example: file-123
          - type: 'null'
        filename:
          anyOf:
          - type: string
            description: The name of the file to be sent to the model.
          - type: 'null'
        file_data:
          anyOf:
          - type: string
            maxLength: 73400320
            description: The base64-encoded data of the file to be sent to the model.
          - type: 'null'
        file_url:
          anyOf:
          - type: string
            format: uri
            description: The URL of the file to be sent to the model.
          - type: 'null'
        detail:
          $ref: '#/components/schemas/FileDetailEnum'
          description: The detail level of the file to be sent to the model. Use `auto`
            to let the system select the detail level; for GPT-5.6 and later models,
            `auto` uses high-quality rendering, which may increase input token usage.
            Use `low` for lower-cost rendering, or `high` to render the file at higher
            quality. Defaults to `auto`.
      type: object
      required:
      - type
      title: Input file
      description: A file input to the model.
    FunctionCallOutputItemParam:
      properties:
        id:
          anyOf:
          - type: string
            description: The unique ID of the function tool call output. Populated
              when this item is returned via API.
            example: fc_123
          - type: 'null'
        call_id:
          anyOf:
          - type: string
            maxLength: 64
            minLength: 1
            description: The unique ID of the function tool call generated by the
              model.
          - type: 'null'
        type:
          type: string
          enum:
          - function_call_output
          description: The type of the function tool call output. Always `function_call_output`.
          default: function_call_output
        output:
          oneOf:
          - type: string
            maxLength: 10485760
            description: A JSON string of the output of the function tool call.
          - items:
              oneOf:
              - $ref: '#/components/schemas/InputTextContentParam'
              - $ref: '#/components/schemas/InputImageContentParamAutoParam'
              - $ref: '#/components/schemas/InputFileContentParam'
              description: A piece of message content, such as text, an image, or
                a file.
              discriminator:
                propertyName: type
            type: array
            description: An array of content outputs (text, image, file) for the function
              tool call.
          description: Text, image, or file output of the function tool call.
        name:
          anyOf:
          - type: string
            maxLength: 128
            minLength: 1
            description: The name of the tool that produced the output.
          - type: 'null'
        namespace:
          anyOf:
          - type: string
            maxLength: 64
            minLength: 1
            pattern: ^[a-zA-Z0-9_-]+$
            description: The namespace of the tool that produced the output.
          - type: 'null'
        caller:
          anyOf:
          - $ref: '#/components/schemas/ToolCallCallerParam'
            description: The execution context that produced this tool call.
          - type: 'null'
        status:
          anyOf:
          - $ref: '#/components/schemas/FunctionCallItemStatus'
            description: The status of the item. One of `in_progress`, `completed`,
              or `incomplete`. Populated when items are returned via API.
          - type: 'null'
      type: object
      required:
      - type
      - output
      title: Function tool call output
      description: The output of a function tool call.
    ItemReferenceParam:
      properties:
        type:
          anyOf:
          - type: string
            enum:
            - item_reference
            description: The type of item to reference. Always `item_reference`.
            default: item_reference
          - type: 'null'
        id:
          type: string
          description: The ID of the item to reference.
      type: object
      required:
      - id
      title: Item reference
      description: An internal identifier for an item to reference.
    _MisalignmentErrorType:
      anyOf:
      - type: string
      - type: string
        enum:
        - potentially_unintended_data_transfer
        - potentially_unintended_data_access
        - potentially_unintended_destructive_activity
        - other
    _MisalignmentSteer:
      properties:
        message:
          type: string
          description: The public continuation instruction.
      type: object
      required:
      - message
    MisalignmentErrorDetailsResource:
      properties:
        error_type:
          $ref: '#/components/schemas/_MisalignmentErrorType'
          description: An optional classification; clients must accept additional
            values.
        detailed_explanation:
          type: string
          description: The public explanation for this block.
        steer:
          $ref: '#/components/schemas/_MisalignmentSteer'
          description: An optional public continuation instruction.
      type: object
    ReasoningModeEnum:
      anyOf:
      - type: string
      - type: string
        enum:
        - standard
        - pro
    ResponseConversation:
      properties:
        id:
          type: string
          description: The unique ID of the conversation that this response was associated
            with.
      type: object
      required:
      - id
      title: Conversation
      description: The conversation that this response belonged to. Input items and
        output items from this response were automatically added to this conversation.
  responses:
    InferenceRateLimited:
      description: The request was rejected because a rate limit was exceeded. A slow_down
        error means traffic increased too quickly; reduce your request rate, then
        increase it gradually.
      headers:
        Retry-After:
          description: The minimum number of seconds to wait before retrying. This
            header is returned when the server has computed a retry delay and may
            be omitted.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            slowDown:
              summary: Traffic increased too quickly
              value:
                error:
                  message: Your request rate increased too quickly. Please reduce
                    the request rate and gradually increase it again.
                  type: rate_limit_error
                  param: null
                  code: slow_down
    InferenceServiceUnavailable:
      description: The service is temporarily unavailable. A server_is_overloaded
        error means the requested model is temporarily overloaded; retry after a brief
        delay.
      headers:
        Retry-After:
          description: The minimum number of seconds to wait before retrying. This
            header is returned when the server has computed a retry delay and may
            be omitted.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serverOverloaded:
              summary: The requested model is temporarily overloaded
              value:
                error:
                  message: The model is temporarily overloaded. Please retry your
                    request after a brief delay.
                  type: service_unavailable_error
                  param: null
                  code: server_is_overloaded
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
    AdminApiKeyAuth:
      type: http
      scheme: bearer
